* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

nav{
    width:90%;
    max-width:1280px;
    height:72px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:150px;   
    display:block;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #6b7280;
    font-size: 15px;
    transition: .3s;
}

nav ul li a:hover{
    color:#2563eb;
}

.nav-btn {
    padding: 13px 24px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

.nav-btn:hover{
    background:#1d4ed8;
}
